*{
	margin: :0px;
	padding:0px;
}
body{
	background: olivedrab none repeat scroll 0 0;
	font-family: "Raleway",sans-serif;
}
#container{
	background: #50659b none repeat scroll 0 0;
	border-radius: 5px;
	box-shadow: 0 0 8px 4px oldlace;
	margin: 100px auto;
	padding: 20px;
	width: 500px;
	min-height: 200px;
}
#container:after{
	content: "";
	display: block;
	clear:both;
}
#container h1{
	text-align: center;
	color:#fefefe;
}
.randomquote{
	color: #fefefe;
	font-size: 18px;
	font-style: italic;
	line-height: 1.75em;
	min-height: 150px;
	text-align: left;
}
.newquote{
	float:right;
	padding:7px 8px;
	cursor: pointer;
}